CLEANING IDMB MESSY DATASET

In [1]:
#adding libraries
import pandas as pd
import numpy as np
#from sklearn.KNN

In [2]:
#loading the dataset
idmb_data = pd.read_csv('messy_IMDB_dataset.csv', encoding='cp1252', sep =';')
idmb = idmb_data
idmb.head()

,IMBD title ID,Original titlÊ,Release year,Genrë¨,Duration,Country,Content Rating,Director,Unnamed: 8,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,NaN,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,NaN,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,NaN,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,NaN,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,NaN,$ 222831817,1.780.147,"8,9f"

In [3]:
#data overview
idmb.shape

(101, 12)

In [4]:
#total null values in each column
idmb.isnull().sum()

IMBD title ID       1
Original titlÊ      1
Release year        1
Genrë¨              1
Duration            2
Country             1
Content Rating     24
Director            1
Unnamed: 8        101
Income              1
 Votes              1
Score               1
dtype: int64

So column 'Unnamed: 8' has all values empty, so that will be dropped

In [5]:
idmb.drop('Unnamed: 8', axis = 1, inplace = True)

In [6]:
print(idmb.columns.tolist())

['IMBD title ID', 'Original titlÊ', 'Release year', 'Genrë¨', 'Duration', 'Country', 'Content Rating', 'Director', 'Income', ' Votes ', 'Score']

In [7]:
idmb.columns = idmb.columns.str.strip()

WORKING ON DATA TYPES

In [8]:
#checking the data type
idmb.dtypes

IMBD title ID     object
Original titlÊ    object
Release year      object
Genrë¨            object
Duration          object
Country           object
Content Rating    object
Director          object
Income            object
Votes             object
Score             object
dtype: object

From the data types, working on them chronologically, ID and Title are okay. But Release Year should not be an object, by datetime format.
First, find all the unique value of the datetime before converting it to datetime format

WORKING ON 'Release Year' Column

In [9]:
#checking the format of the Release Year column
idmb['Release year'].unique()

array(['1995-02-10', '09 21 1972', ' 23 -07-2008', '1975-09-25',
       '1994-10-28', '22 Feb 04', '1994-03-11', '1957-09-04',
       '2010-09-24', '10-29-99', '1994-10-06', '2002-01-18',
       '23rd December of 1966 ', nan, '1999-05-07', '01/16-03',
       '1980-09-19', '1990-09-20', '18/11/1976', '2014-11-06',
       '1995-12-15', '1991-03-05', '1977-10-20', '1998-10-30',
       '2000-10-03', '2003-05-09', '2003-04-18', '1997-12-20',
       '2019-11-07', '1948-03-11', '1955-08-19', '2000-05-19',
       '2006-10-27', '2006-12-22', '1985-10-18', '1999-08-27',
       '1995-04-07', '1991-12-19', '1995-11-30', '1994-11-25',
       '2019-10-03', '2012-02-24', '2002-10-25', '2015-02-12',
       '1960-10-28', '21-11-46', '1968-12-21', '2015-10-11', '1988-11-17',
       '1937-03-12', '2012-08-29', '2013-01-17', '2001-01-19',
       '2008-10-17', '1980-12-22', '1981-06-12', '2018-04-25',
       '1979-10-25', '2019-04-24', '1979-12-18', '2005-05-06',
       '1964-04-03', '1955-04-14', '2017-12-28', '2007-04-06',
       '2018-12-25', '2009-12-25', '1984-09-28', '1945-06-25',
       'The 6th of marzo, year 1951', '2009-10-02', '2000-01-21',
       '1995-12-01', '1983-10-21', '1992-10-09', '2004-10-22',
       '1996-03-22', '1998-03-06', '2001-03-16', '2000-12-15',
       '1972-09-07', '2010-07-07', '1984-02-34', '1976-13-24',
       '2002-01-25', '1987-10-09', '1986-09-24', '1968-12-12',
       '1948-11-25', '2020-01-23', '1985-02-15', '1958-11-18',
       '1959-10-28', '2012-11-22', '1963-10-29', '1974-03-21',
       '1982-03-18', '1965-12-20', '2011-10-21', '1953-02-05'],
      dtype=object)

Next clean the string date time as much as possible so conversion can be easy.
Using dateutil.parser (a powerful flexible date parser that can interpret many date formats without needing an explicit format string).
clean_date_string(s):
1. Check if there is any missing value and replace with NaN.
2. Ensure that all dates are strings and remove white spaces from them (start and end).
3. replacing . or / with - for consistency.
4. removing multiple spaces


safe_parse_date(s)
1. attempts to change string to datetime format.
2. dayfirst = False , meaning it expects the month to come before the day (MM-DD-YYYY), because most of my data is like that.
3. if the format is unknown it catches the error and returns NaT (not a time).

Finally apply to column

In [10]:
map={'The 6th of marzo, year 1951':'06-03-1951','23rd December of 1966 ':'23-12-1966','1984-02-34':'09-12-1983','1976-13-24':'08-02-1976'}

idmb['Release year']=idmb['Release year'].replace(map,regex=False)

idmb['Release year']=pd.to_datetime(idmb['Release year'], format ='mixed').dt.date

idmb['Release year'] = pd.to_datetime(idmb['Release year'])

In [11]:
idmb.head(6)

,IMBD title ID,Original titlÊ,Release year,Genrë¨,Duration,Country,Content Rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,1972-09-21,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,2008-07-23,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"
5,tt0167260,The Lord of the Rings: The Return of the King,2004-02-22,"Action, Adventure, Drama",201,New Zealand,PG-13,Peter Jackson,$ 1142271098,1.604.280,08.9

Release Year column has been worked on, now it has 4 rows with null values after cleaning.
Next column to work on is changing duration column to int

In [12]:
#checking the format of the Duration column
idmb['Duration'].unique()

array(['142', '175', '152', '220', ' ', '201', 'Nan', '96', '148', 'Inf',
       '178c', '161', nan, '179', 'Not Applicable', '146', '-', '169',
       '127', '118', '121', '189', '130', '125', '116', '132', '207',
       '155', '151', '119', '110', '137', '106', '88', '122', '112',
       '150', '109', '102', '165', '89', '87', '164', '113', '98', '115',
       '149', '117', '181', '147', '120', '95', '105', '170', '134',
       '229', '153', '178', '131', '99', '108', '81', '126', '104', '136',
       '103', '114', '160', '128', '228', '129', '123'], dtype=object)

In [13]:
#first replace the 'c' with ' '
idmb['Duration'] = idmb['Duration'].str.replace('c', '', regex = True)
#changing 'Duration' column to numeric
idmb['Duration'] = pd.to_numeric(idmb['Duration'], errors = 'coerce')

In [14]:
#6 movies have no duration. Their duration is ' ', 'Nan, 'Inf', 'nan', 'Not Applicable', and '-'. so we can check for them online and fill them

In [15]:
idmb.isnull().sum()

IMBD title ID      1
Original titlÊ     1
Release year       1
Genrë¨             1
Duration           6
Country            1
Content Rating    24
Director           1
Income             1
Votes              1
Score              1
dtype: int64

In [16]:
idmb.dtypes

IMBD title ID             object
Original titlÊ            object
Release year      datetime64[ns]
Genrë¨                    object
Duration                 float64
Country                   object
Content Rating            object
Director                  object
Income                    object
Votes                     object
Score                     object
dtype: object

In [17]:
idmb.head()

,IMBD title ID,Original titlÊ,Release year,Genrë¨,Duration,Country,Content Rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142.0,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,1972-09-21,"Crime, Drama",175.0,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,2008-07-23,"Action, Crime, Drama",152.0,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220.0,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",NaN,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"

In [18]:
idmb.dtypes

IMBD title ID             object
Original titlÊ            object
Release year      datetime64[ns]
Genrë¨                    object
Duration                 float64
Country                   object
Content Rating            object
Director                  object
Income                    object
Votes                     object
Score                     object
dtype: object

In [19]:
idmb.isnull().sum()

IMBD title ID      1
Original titlÊ     1
Release year       1
Genrë¨             1
Duration           6
Country            1
Content Rating    24
Director           1
Income             1
Votes              1
Score              1
dtype: int64

In [20]:
#count the value in Country
idmb['Country'].value_counts()

Country
USA             62
UK              12
Japan            4
Italy            4
France           3
South Korea      2
Germany          2
US               1
New Zesland      1
New Zealand      1
Brazil           1
US.              1
New Zeland       1
Italy1           1
India            1
Denmark          1
West Germany     1
Iran             1
Name: count, dtype: int64

After looking at the value count in country, some country have typo so they are called twice

In [21]:
#replacing countries
map = {
    'US.': 'USA',
    'US': 'USA',
    'New Zesland': 'New Zealand',
    'New Zeland': 'New Zealand',
    'Italy1': 'Italy',
    'West Germany': 'Germany'
}

idmb['Country'] = idmb['Country'].replace(map, regex=False)

In [22]:
#changing country column to category
idmb[['Country', 'Content Rating']] = idmb[['Country', 'Content Rating']].astype('category')

In [23]:
#count the value in Country
idmb['Country'].value_counts()

Country
USA            64
UK             12
Italy           5
Japan           4
New Zealand     3
Germany         3
France          3
South Korea     2
Brazil          1
Denmark         1
India           1
Iran            1
Name: count, dtype: int64

In [24]:
idmb['Content Rating'].value_counts()

Content Rating
R            45
PG-13        12
PG           11
G             6
Approved      1
Not Rated     1
Unrated       1
Name: count, dtype: int64

In [25]:
#returns any row with atleast one missing value
idmb[idmb['Content Rating'].isnull()]

,IMBD title ID,Original titlÊ,Release year,Genrë¨,Duration,Country,Content Rating,Director,Income,Votes,Score
13,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,tt0118799,La vita B9 bella,1997-12-20,"Comedy, Drama, Romance",116.0,Italy,NaN,Roberto Benigni,$ 230098753,605.648,8.6
28,tt6751668,Gisaengchung,2019-11-07,"Comedy, Drama, Thriller",132.0,South Korea,NaN,Bong Joon Ho,$ 257604912,470.931,8.6
36,tt0110413,LÃ©on,1995-04-07,"Action, Crime, Drama",110.0,France,NaN,Luc Besson,$ 19552639,1.007.598,8.5
40,tt7286456,Joker,2019-10-03,"Crime, Drama, Thriller",122.0,USA,NaN,Todd Phillips,$ 1074251311,855.097,8.4
41,tt1675434,Intouchables,2012-02-24,"Biography, Comedy, Drama",112.0,France,NaN,"Olivier Nakache, Ã‰ric Toledano",$ 426588510,736.691,8.4
47,tt0095327,Hotaru no haka,2015-10-11,"Animation, Drama, War",89.0,Japan,NaN,Isao Takahata,$ 516962,225.438,8.3
48,tt0095765,Nuovo Cinema Paradiso,1988-11-17,Drama,155.0,Italy,NaN,Giuseppe Tornatore,$ 13826605,223.050,8.3
56,tt4154756,Avengers: Infinity War,2018-04-25,"Action, Adventure, Sci-Fi",149.0,USA,NaN,"Anthony Russo, Joe Russo",$ 2048359754,796.486,8.2
58,tt4154796,Avengers: Endgame,2019-04-24,"Action, Adventure, Drama",181.0,USA,NaN,"Anthony Russo, Joe Russo",$ 2797800564,754.786,8.2
62,tt0047396,Rear Window,1955-04-14,"Mystery, Thriller",112.0,USA,NaN,Alfred Hitchcock,$ 37032034,432.390,8.1
63,tt2380307,Coco,2017-12-28,"Animation, Adventure, Family",105.0,USA,NaN,"Lee Unkrich, Adrian Molina",$ 807083670,352.455,8.1
65,tt4633694,Spider-Man: Into the Spider-Verse,2018-12-25,"Animation, Action, Adventure",117.0,USA,NaN,"Bob Persichetti, Peter Ramsey",$ 375540831,335.892,8.1
66,tt1187043,3 Idiots,2009-12-25,"Comedy, Drama",170.0,India,NaN,Rajkumar Hirani,$ 60262836,332.217,8.1
69,tt0032553,The Great Dictator,1945-06-25,"Comedy, Drama, War",125.0,USA,NaN,Charles Chaplin,$ 969879,197.381,8.0
70,tt0043014,Sunset Blvd.,1951-06-03,"Drama, Film-Noir",110.0,USA,NaN,Billy Wilder,$ 299645,195.789,8.0
81,tt0066921,A Clockwork Orange,1972-09-07,"Crime, Drama, Sci-Fi",136.0,UK,NaN,Stanley Kubrick,$ 26903440,740.301,7.8
86,tt0093058,Full Metal Jacket,1987-10-09,"Drama, War",116.0,UK,NaN,Stanley Kubrick,$ 46357676,658.175,7.7
89,tt0033467,Citizen Kane,1948-11-25,"Drama, Mystery",119.0,USA,NaN,Orson Welles,$ 1594107,389.322,7.6
90,tt8579674,1917,2020-01-23,"Drama, War",119.0,USA,NaN,Sam Mendes,$ 384857224,362.897,7.6
92,tt0052357,Vertigo,1958-11-18,"Mystery, Romance, Thriller",128.0,USA,NaN,Alfred Hitchcock,$ 7796389,352.786,7.5
93,tt0053125,North by Northwest,1959-10-28,"Adventure, Mystery, Thriller",136.0,USA,NaN,Alfred Hitchcock,$ 73446,291.628,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132.0,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103.0,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4

In [26]:
#harmonizing not rated and unrated to be unrated
idmb['Content Rating'] = idmb['Content Rating'].str.replace('Not Rated', 'Unrated', regex = True)

#also fill missing value with unrated
idmb['Content Rating'] = idmb['Content Rating'].fillna('Unrated')

HANDLING INCOME COLUMN

In [27]:
idmb.head()

,IMBD title ID,Original titlÊ,Release year,Genrë¨,Duration,Country,Content Rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142.0,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,1972-09-21,"Crime, Drama",175.0,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,2008-07-23,"Action, Crime, Drama",152.0,USA,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220.0,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",NaN,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"

In [28]:
idmb['Income'].astype

<bound method NDFrame.astype of 0         $ 28815245
1        $ 246120974
2       $ 1005455211
3      $ 4o8,035,783
4        $ 222831817
           ...
96       $ 156000000
97        $ 11487676
98        $ 15000000
99        $ 22926076
100        $ 1864182
Name: Income, Length: 101, dtype: object>

In [29]:
#adjusting the 'Income' column

#replacing the $ symbol
idmb['Income'] = idmb['Income'].str.replace(r'\$', ' ', regex = True)

#harmonizing the data in 'Income' column
map={' ':'','o':'0',',':''}
idmb['Income']=idmb['Income'].str[1:].replace(map,regex=True)

In [30]:
idmb[idmb['Income'].isnull()]

,IMBD title ID,Original titlÊ,Release year,Genrë¨,Duration,Country,Content Rating,Director,Income,Votes,Score
13,NaN,NaN,NaT,NaN,NaN,NaN,Unrated,NaN,NaN,NaN,NaN

In [31]:
#drop this row
idmb = idmb.dropna(subset=['Income'])

In [32]:
#changing to numeric data
idmb['Income']= idmb['Income'].astype('float')

#changing the format to a normal one
pd.set_option('display.float_format', '{:.2f}'.format)

/tmp/ipython-input-772962494.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  idmb['Income']= idmb['Income'].astype('float')

WORKING ON 'Votes' COLUMN

In [33]:
idmb['Votes'].astype

<bound method NDFrame.astype of 0      2.278.845
1      1.572.674
2      2.241.615
3      1.098.714
4      1.780.147
         ...
96       236.285
97       226.427
98       226.039
99       214.165
100      213.152
Name: Votes, Length: 100, dtype: object>

In [34]:
#replacing ',' and '.' with ''
idmb['Votes'] = idmb['Votes'].str.replace('.',',')
idmb['Votes'] = idmb['Votes'].str.replace(',','')

/tmp/ipython-input-3914572990.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  idmb['Votes'] = idmb['Votes'].str.replace('.',',')
/tmp/ipython-input-3914572990.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  idmb['Votes'] = idmb['Votes'].str.replace(',','')

In [35]:
idmb['Votes'].unique()

array(['2278845', '1572674', '2241615', '1098714', '1780147', '1604280',
       '1183248', '668473', '2002816', '1807440', '1755490', '1619920',
       '672499', '1632315', '1449778', '1132073', '991505', '891071',
       '1449256', '1402015', '1234134', '1204107', '1203825', '1112336',
       '685856', '626693', '605648', '470931', '388310', '307958',
       '1308193', '1159703', '1155723', '1027330', '1014218', '1007598',
       '974970', '968947', '917248', '855097', '736691', '707942',
       '690732', '586765', '509953', '295220', '225438', '223050',
       '211250', '1480582', '1317856', '1098879', '974734', '869480',
       '865510', '796486', '768874', '754786', '591251', '501082',
       '441115', '432390', '352455', '349642', '335892', '332217',
       '331045', '302317', '197381', '195789', '1229958', '1049009',
       '941683', '928036', '896551', '889875', '864461', '837379',
       '766589', '748291', '740301', '739717', '721343', '703264',
       '690480', '658175', '639500', '587866', '389322', '362897',
       '361028', '352786', '291628', '269616', '261504', '236285',
       '226427', '226039', '214165', '213152'], dtype=object)

In [36]:
idmb['Votes'] = idmb['Votes'].astype('int')

/tmp/ipython-input-1077588987.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  idmb['Votes'] = idmb['Votes'].astype('int')

WORKING ON 'Score' COLUMN

In [37]:
idmb['Score'].unique()

array(['9.3', '9.2', '9.', '9,.0', '8,9f', '08.9', '8.9', '8..8', '8.8',
       '8:8', '++8.7', '8.7.', '8,7e-0', '8.7', '8.6', '8,6', '8.5',
       '8.4', '8.3', '8.2', '8.1', '8.0', '7.9', '7.8', '7.7', '7.6',
       '7.5', '7.4'], dtype=object)

In [38]:
#mapping out the wrong values with correct ones
map = {'8,9f':'8.9','9,.0':'9.0','08.9':'8.9','8:8':'8.8','8,7e-0':'8.7','++8.7':'8.7','8..8':'8.8','8,6':'8.6','8.7.':'8.7','9.':'9.0'}

#replacing the values
idmb.loc[:, 'Score']=idmb['Score'].replace(map,regex=False).astype(float)

In [39]:
idmb['Score'].astype

<bound method NDFrame.astype of 0     9.30
1     9.20
2     9.00
3     9.00
4     8.90
      ...
96    7.50
97    7.50
98    7.40
99    7.40
100   7.40
Name: Score, Length: 100, dtype: object>

In [40]:
idmb.to_csv('idmb_cleaned.csv', index = False)

In [41]:
idmb.dtypes

IMBD title ID             object
Original titlÊ            object
Release year      datetime64[ns]
Genrë¨                    object
Duration                 float64
Country                 category
Content Rating            object
Director                  object
Income                   float64
Votes                      int64
Score                     object
dtype: object